@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color: #171717;
    background: #FAFAFA;
}

@layer base {
    @font-face {
        font-family: 'sf-pro-rounded';
        src: url('./assets/fonts/SF-Pro-Rounded-Light.otf') format('opentype');
        font-weight: 400;
    }
    @font-face {
        font-family: "sf-pro-rounded";
        src: url('./assets/fonts/SF-Pro-Rounded-Semibold.otf') format('opentype');
        font-weight: 700;
    }
}

@layer components {
    .title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .button {
        @apply rounded-full text-midnight flex justify-center shadow items-center hover:opacity-75 focus:outline-none focus:border border-blue-400 focus:ring-2 ring-blue-100;
    }
}
